[data-theme = "light"] {
  --bg-color : #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
}

[data-theme = "dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0 30px;
}
.h1{
  color: var(--heading-color);
}

.page{
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar{
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 20px;
}

.navbar a{
  text-decoration: none;
  color: inherit;
}